div.posts {
  background-image: url("blogbgimg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.postbox {
  background-color: #DCCFEC;
  opacity: 0.6;
  margin-left: 18%;
  margin-right: 18%;
  color: black;
}

div.words {
}

div.titletext {
  width: 40%;
  margin: auto;
  border-style: double;
  border-color: white;
  /*padding-top: 1%;*/
}
div.title {
  background-color: #061424;
  color: white;
  width: 100%;
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


#blogWrapper {
    padding-top: 80px;
}

div.blog_input {
  height: 450px;
  background-color: #4C5F75;
}

h1{
  font-family: 'Cinzel Decorative';
  font-size: 80px;
}

h6 {
  font-size: 25px;
  font-family: 'Bahiana';
}
div {
  text-align: center;
}

h2 {
  text-decoration: underline;
}

h3, h2 {
  text-align: center;
}

h5 {
  font-size: 15px;
  text-align: center;
}
/*Footer starts here*/
.hero-image {
  background-image: url("clima.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.6;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  size: 50px;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
