#videoBlock {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}

#videoMessage {
  width: 90%;
  height:100%;
  position: absolute;
  bottom: 10;
}

#videoMessage h1{
  font-size: 40px;
  text-shadow: 3px 3px 3px #000000;
  color:white;
  z-index:99;
  text-align: center;
}

#videoMessage p {
  font-size: 20px;
  color: white;
  text-align: center;
}
h1 {
  text-align: center;
  color: red;
}

div.title {
	background-color:red;
    color:white;
    padding:20px;
}

div.container {
  padding: 15px;
	height: 300px;
}

div.desc {
  height: 300px;
	float: left;
  width: 30%
}

div.pic {
	height: 300px;
	float: right;
  width: 30%;
}

div.map {
  height: 300px;
  float: left;
	margin-right: 4%;
  margin-left: 4%;
  width: 30%
}

h2 {
	text-align: center;
}

p {
  font-size: 30px;
}
/*Footer starts here */

.hero-image {
  background-image: url("clima.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 200%;
  transform: translate(-50%, -50%);
  color: black;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  font-size: 200%;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;

} 
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}